/* Typography */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Colors */
/* text: */
/* other variables */
/* line 28, ../sass/screen.scss */
body {
  background: #ffffff;
  width: 100%;
  font-size: 16px;
}

/* line 34, ../sass/screen.scss */
header {
  text-align: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #2980B9;
  font-family: "Open Sans", sans-serif;
  color: #ECF0F1;
  line-height: 66.66667px;
  -moz-box-shadow: 0 5px 3px rgba(92, 38, 6, 0.1);
  -webkit-box-shadow: 0 5px 3px rgba(92, 38, 6, 0.1);
  box-shadow: 0 5px 3px rgba(92, 38, 6, 0.1);
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 49, ../sass/screen.scss */
header #logo {
  float: left;
  text-align: center;
  font-size: 48px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 56, ../sass/screen.scss */
header #logo img {
  float: left;
  height: 98px;
}
/* line 61, ../sass/screen.scss */
header #logo p {
  float: left;
  margin-left: 10px;
}
/* line 67, ../sass/screen.scss */
header a {
  color: #ECF0F1;
  font-family: "Lato", sans-serif;
}
/* line 74, ../sass/screen.scss */
header nav {
  clear: both;
  line-height: 153.84615px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 80, ../sass/screen.scss */
header nav a {
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
/* line 89, ../sass/screen.scss */
header nav a:hover {
  color: white;
  border-bottom: 1px dotted white;
  color: #2980B9;
  background: white;
}

/* line 98, ../sass/screen.scss */
header.shrink, nav.shrink {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  line-height: 66.66667px;
  height: 133.33333px;
  background: rgba(41, 128, 185, 0.95);
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.8);
}
/* line 107, ../sass/screen.scss */
header.shrink nav.shrink, nav.shrink nav.shrink {
  background-color: transparent;
  border-color: transparent;
  line-height: 10px;
}

/* line 114, ../sass/screen.scss */
footer {
  text-transform: uppercase;
  width: 100%;
  margin-top: 80px;
  background: #F25C05;
  color: #ECF0F1;
  height: 200px;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
}
/* line 124, ../sass/screen.scss */
footer a {
  color: #ECF0F1;
  text-decoration: none;
  border-bottom: 1px dotted black;
}
/* line 129, ../sass/screen.scss */
footer h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

/* line 135, ../sass/screen.scss */
.content {
  background: #ffffff;
  font-family: "Merriweather", serif;
  line-height: 24px;
  padding-top: 200px;
  margin: auto;
  width: 80%;
  text-align: center;
  /* to center entry images */
}
/* line 143, ../sass/screen.scss */
.content .entry_img {
  text-align: center;
}
/* line 144, ../sass/screen.scss */
.content img {
  display: inline;
  text-align: center;
  margin-left: auto;
  padding-top: 40px;
  margin-bottom: 20px;
  width: 20%;
}
/* line 152, ../sass/screen.scss */
.content .byline {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: italic;
}
/* line 157, ../sass/screen.scss */
.content h2, .content h3 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  margin-top: 55px;
  margin-bottom: 15px;
}
/* line 164, ../sass/screen.scss */
.content h3 {
  font-size: 18px;
}
/* line 167, ../sass/screen.scss */
.content p {
  margin-bottom: 25px;
}
/* line 169, ../sass/screen.scss */
.content .entry {
  text-align: left;
  clear: left;
}
/* line 173, ../sass/screen.scss */
.content .card {
  display: inline-block;
  width: 22%;
  min-width: 100px;
  border: 3px solid #065086;
  background-color: #2980B9;
  border-radius: 5px;
  margin: 1%;
  background-clip: padding-box;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 186, ../sass/screen.scss */
.content .card img {
  width: 50%;
  padding: 0;
  margin: 5px;
}
/* line 191, ../sass/screen.scss */
.content .card .cardCaption {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  margin: 0;
  padding-bottom: 10px;
}
/* line 199, ../sass/screen.scss */
.content .card:hover {
  background-color: #065086;
  cursor: pointer;
}
/* line 203, ../sass/screen.scss */
.content .row {
  float: left;
  clear: both;
  width: 100%;
  margin: 15px 0 15px 0;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  /* line 214, ../sass/screen.scss */
  header #logo {
    font-size: 24px;
  }
}
@media screen and (min-width: 0px) and (max-width: 479px) {
  /* line 223, ../sass/screen.scss */
  header {
    height: 100px;
    line-height: 25px;
  }
  /* line 226, ../sass/screen.scss */
  header #logo {
    font-size: 21px;
  }
  /* line 229, ../sass/screen.scss */
  header #logo p {
    margin-left: 5px;
  }
  /* line 232, ../sass/screen.scss */
  header #logo img {
    width: 100px;
    height: auto;
  }
  /* line 239, ../sass/screen.scss */
  header nav {
    line-height: 25px;
  }
  /* line 241, ../sass/screen.scss */
  header nav a {
    margin-left: 0;
    padding: 5px;
    font-size: 13px;
  }

  /* line 249, ../sass/screen.scss */
  .content {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 80px;
  }

  /* line 255, ../sass/screen.scss */
  nav.shrink, header.shrink {
    height: 33.33333px;
    line-height: 33.33333px !important;
  }

  /* line 260, ../sass/screen.scss */
  header.shrink #logo {
    display: none;
  }

  /* line 264, ../sass/screen.scss */
  .card .cardCaption {
    font-family: "Lato", sans-serif;
    font-size: 16px !important;
  }
}
/* Standard classes for layouting */
/* line 274, ../sass/screen.scss */
.floatLeft {
  float: left;
}

/* line 277, ../sass/screen.scss */
.floatRight {
  float: right;
}

/* line 280, ../sass/screen.scss */
.clearBoth {
  clear: both;
}

/* line 283, ../sass/screen.scss */
.clearRight {
  clear: right;
}

/* line 286, ../sass/screen.scss */
.clearLeft {
  clear: left;
}

/* line 289, ../sass/screen.scss */
.textCenter {
  text-align: center;
}
