{% extends "base.html" %}
{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="entry">
    <h2 class="textLeft">4 0 4 - Hoppsan!</h2>
    <p class="clearBoth">Det verkar som att denna sidan inte finns eller att något gick fel.</p>
    <p>Vänligen klicka på en av länkarna i menyn eller gå bakåt i din webbläsare för att komma tillbaka till en sida med innehåll.</p>
    <p>Vi ber om ursäkt ifall det var något du letade efter som du inte hittade. Skicka oss ett mail så hjälper vi dig</p>
    <p class="textItalic">P.S. Det skulle också vara varmt uppskattat om du ville maila oss med en kort beskrivning av vad du gjorde för att komma hit så att vi kan fixa till felet! D.S.</p>
</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
