{% block header %}
	<!DOCTYPE html>
	<html lang="sv">
		<head>
			<meta http-equiv="refresh" content="" />
			<meta charset="UTF-8" />
			<link rel="stylesheet" media="screen, projection" href="{{ url_for('static', filename='css/screen.css') }}" type="text/css" />
			<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/balloon.css') }}" type="text/css" />
			<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/lightbox.css') }}" type="text/css" />
			<title>D2B Byggprodukter AB</title>
			<script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
			<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
			<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
			<script src="{{ url_for('static', filename='js/d2b.js') }}"></script>
			<script src="{{ url_for('static', filename='js/header.js') }}"></script>
		</head>
		<body>
		<div class="container">
		<header>
		  <div id="logo">
			  <img src="{{ url_for('static', filename='images/logga_white.png') }}" alt="D2B logo"/>
			  <p>D2B BYGGPRODUKTER AB</p>
		  </div>
		  <div id="search">
			<input type="text" id="searchTextInput"
			value="{% if query %}{{ query }}{% else %}Sök produkt{% endif %}"
			class="{% if query %}{% else %}fadedText{% endif %}" 
					onFocus="initSearch(this)" onBlur="checkSearchInput(this)" onKeyDown="searchClick(this, event)" />
				<img id="searchImg" src="{{ url_for('static', filename='images/search.png') }}" onClick="search()"/>
		  </div>
		<nav>
			<a href="/">hem</a>
			<a href="/produkter">produkter</a>
			<a href="/om">om D2B</a>
			<a href="#">kontakt</a>
			<a href="#">nyheter</a>
		</nav>
		</header>
		<div class="content">
            <div id="crumbs" class="textLeft">
                <p>Du är här: <a href="/">Start</a> {% block crumbs %}{% endblock %}</p>
            </div>

			{% block content %}{% endblock %}
{% endblock %}
{% block footer %}
		</div>
		</div>
<footer>
    <h2>Kontakta oss:</h2>
    <p>Ni når oss på tel: <a href="tel:031916301">031-916301</a> eller
<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!84{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(5),9\\\"\\\\>+#78*-e1<02\\\\\\\\22\\\\00\\\\03\\\\\\\\32\\\\00\\\\02\\\\" +
"\\\\0S02\\\\\\\\06\\\\03\\\\03\\\\\\\\KUt;\\\\\\\\\\\\n0\\\\00\\\\\\\\825y0" +
"0\\\\\\\\0j%?9&kk33\\\\0 \\\\o0ZX[B32\\\\0W\\\\01\\\\0U\\\\BoGM7N03\\\\\\\\" +
"ULtstzI5w.7j17\\\\\\\\)c9f)!20\\\\00\\\\02\\\\\\\\37\\\\04\\\\01\\\\\\\\37\\"+
"\\06\\\\00\\\\\\\\05\\\\0^\\\\32\\\\02\\\\00\\\\\\\\17\\\\05\\\\00\\\\\\\\2" +
"3\\\\07\\\\00\\\\\\\\\\\\r4\\\\00\\\\\\\\\\\"\\\\f(;} ornture;}))++(y)^(iAt" +
"deCoarchx.e(odrChamCro.fngriSt+=;o27=1y%+;y+5)<9(iif){++;i<l;i=0(ior;fthngl" +
"ex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"                      ;
while(x=eval(x));
//-->
//]]>
</script>
    </p>
  </footer>
  <script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
  <script>
    lightbox.option({
      'resizeDuration': 200,
      'fadeDuration': 300,
	  'disableScrolling': true
    })
</script>
</body>
<script src="{{ url_for('static', filename='js/header.js') }}></script>

</html>
	{% endblock %}
