{% extends "base.html" %}
{% block header %}
	{{ super() }}
{% endblock %}

{% block content %}
<div class="entry">
	<h2 class="textCenter">Distanser när du behöver dem</h2>
	<p class="clearBoth">D2B levererar plastdistanser och annat distanseringsmaterial till byggbranchen. Vi erbjuder även tillbehör till prefabindustrin såsom magnetsystem till formsättning. 
	Vi har egen tillverkning av plastprodukter och god kontakt med andra leverantörer i Sverige och utomlands och kan snabbt ta fram och leverera just de detaljer våra kunder behöver. 
	Vi tar även fram nya produkter efter våra kunders önskemål. Om du inte finner den information du söker på hemsidan, tveka inte <a href="#">kontakta oss</a>. Vi ordnar det mesta!</p>
</div>
<div class="card" onclick="location.href='produkter/Distanser';">
	<img src="{{ url_for('static', filename='images/products/markdistans_varg.png') }}" />
	<p class="cardCaption">Distanser</p>
</div>
<div class="card">
	<img src="{{ url_for('static', filename='images/products/magnet_magfly.png') }}" />
	<p class="cardCaption">Magneter</p>
</div>
<div class="card">
	<img src="{{ url_for('static', filename='images/missing.png') }}" />
	<p class="cardCaption">Elementmontering</p>
</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
