{% extends "base.html" %}
{% block header %}
	{{ super() }}
{% endblock %}
{% block crumbs %}
	{{ super() }}
	/ <a href="/om">Om D2B</a>{% endblock %}
{% block content %}
<h2>Kontakt</h2>
<div class="entry col-2-left" >
	<img src="{{ url_for('static', filename='images/') }}D2B.jpg" style="width: 70%;" />
<p class="clearLeft floatLeft" style="margin-right: 40px;">
<b>Besöksadress</b><br/>
	D2B Byggprodukter AB<br/>
	Johans Väg 3<br/>
438 39 Landvetter</p>
<p class="floatLeft">
<b>Faktureringsadress</b><br/>
Byvägen 55<br/>
438 36 Landvetter
</p>
	
	<h2 class="clearBoth">Telefon och mail</h2>
	Växel<br/><a href="tel:031916301">031 - 91 63 01</a><br/><br/>
	<b>Håkan Stenholm</b><br/>
	<i class="italic">VD</i><br/>
	<a href="tel:031916304">031 - 91 63 04</a><br/>
	<script type="text/javascript">eval(unescape("%71%63%6c%64%76%37%39%3d%5b%27%25%36%38%25%36%31%25%36%62%25%36%31%25%36%65%25%32%65%25%37%33%25%37%34%25%36%35%25%36%65%25%36%38%25%36%66%25%36%63%25%36%64%27%2c%5b%27%25%37%33%25%36%35%27%2c%27%25%36%34%25%33%32%25%36%32%25%32%64%25%36%32%25%37%39%25%36%37%25%36%37%27%5d%2e%72%65%76%65%72%73%65%28%29%2e%6a%6f%69%6e%28%27%2e%27%29%5d%2e%6a%6f%69%6e%28%27%40%27%29%3b%71%73%7a%68%78%37%39%3d%27%48%61%6b%61%6e%20%53%74%65%6e%68%6f%6c%6d%20%5b%61%74%5d%20%64%32%62%2d%62%79%67%67%20%2e%20%73%65%27%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%71%73%7a%68%78%37%39%2e%6c%69%6e%6b%28%27%6d%61%69%27%2b%27%6c%74%6f%3a%27%2b%71%63%6c%64%76%37%39%29%29%3b"));</script><br/><br/>
	<b>Magnus Sanborn</b><br/>
	<i class="italic">Säljare</i><br/>
	<a href="tel:031916314">031 - 91 63 14</a><br/>
	<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=59){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
".substr(0,ol);}f(\")04,\\\" *\\\"\\\\15(t;/wb>hitn&h;l'[qeX\\\"\\\\or120\\\\"+
"730\\\\220\\\\230\\\\t\\\\W310\\\\200\\\\030\\\\220\\\\520\\\\630\\\\LS,M2P" +
"t\\\\700\\\\630\\\\000\\\\430\\\\GD9100\\\\020\\\\L600\\\\700\\\\&<p>i>130\\"+
"\\6%97:2!771\\\\#: *-&p&<+/$)a630\\\\|&ZLU430\\\\Z600\\\\330\\\\020\\\\YZP@" +
"Z@F630\\\\[@HA^IFL\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gni" +
"rtS=+o;721=%y{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\""+
")"                                                                           ;
while(x=eval(x));
//-->
//]]>
	</script><br/><br/>
	<b>Peter Olsson</b><br/>
	<i class="italic">Lager</i><br/><br/>
</div>
<div class="col-2-right">
	<div class="iframe-container">
	<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2133.3050476762496!2d12.244798116006114!3d57.67729498111166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ffa2ff3aaf82f%3A0xae69ea4f7035e39d!2sJohans+v%C3%A4g+3%2C+438+93+Landvetter!5e0!3m2!1ssv!2sse!4v1498770092269" allowfullscreen></iframe>
</div>
</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}

