{% extends "base.html" %}
{% block header %}
	{{ super() }}
{% endblock %}

{% block content %}
    <h2>{{ product.name }}</h2>
    <p class="productInfo textLeft">{{ product.description|safe }}</p>
    <div class="productImgContainer">
        <img src='{{ url_for('static', filename='images/products/') }}{{ product.image }}'/>
    </div>
    {{ tableHeaders }}
    <table class="productSpecs">
        <thead>
            <tr>
                {% for header in tableHeaders %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
